.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

button{
    width: 20vw;
    height: 8vh;
    font-size: large;
    
}

.button{
    writing-mode: vertical-lr;
    margin: auto;
}